<ion-header>
  <ion-toolbar>
    <ion-title>Doors</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nextDoor()">{{'TEST.NEXT_DOOR' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed size-md>

    <ion-row justify-content-center align-items-start>

      <ion-col size="8" size-m text-center>
        <img *ngIf="doorVisible" [@slideInOut] class="door" src="assets/img/door-{{doorState}}.png" (click)="openDoor()">
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>